/* body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #0c3b49;
      color: #ffffff;
    } */

    nav {
      background-color: #010d14;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      flex-wrap: wrap;
      position: none;
      top: 0;
      z-index: 1000;
    }

    .nav-logo {
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff;
    }

    .menu-toggle {
      display: none;
      font-size: 24px;
      cursor: pointer;
      color: #159cea;
    }

    .nav-links {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .nav-links a {
      text-decoration: none;
      color: #2598e5;
      font-weight: 500;
      transition: color 0.3s;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .nav-links a:hover,
    .nav-links a.active {
      color: #1baae7;
      border-bottom: 2px solid #1084e3;
    }

    @media (max-width: 768px) {
      .menu-toggle {
        display: block;
      }

      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f4f5fa;
        padding: 15px 0;
      }

      .nav-links.active {
        display: flex;
      }
